<div class="deliver-calc" data-postal-codes="{{ settings.deliverable_postal_codes }}">
  <div class="deliever-calc--result hidden"></div>
  <div class="deliver-calc--inner">
    <div class="deliver-calc--wrapper">
      <span class="deliver-calc--label">
        Delivery
      </span>
      <div class="deliver-calc--form">
        <div class="deliver-form--wrapper">
          <span class="deliver-form--icon">
            {%- include 'icons' icon: 'location' -%}
          </span>
          <input type="text" name="postal_code" class="deliver-form--input" placeholder="Enter Postal Code" />
          <a href="#" class="deliver-form--submit">Check</a>
        </div>
        <div class="deliver-form--notes">
          <span class="deliver-form--note-left">Check to see if we deliver in your area!</span>
        </div>
      </div>
      <span>or</span>
      <div class="deliver-form--view_map">
        <span>or</span>
        <a href="#">
          View Delivery Area Map
        </a>
      </div>
    </div>
  </div>
  <div class="deliver-calc--note">
    *Serving Guidelines: each pack contains 500 grams of food (2 cup portion servings) we recommend 1 cup per day per 10 lbs of body weight. See meal plan <a href="#" data-scrolldown="#meal-plan-calculator">calculator</a> for more info.
  </div>
</div>