<div id="popup-view-map">
  <div class="view-map--header">
    Feeding
  </div>
  <div class="view-map--inner">
    <div class="map-dog-sizes">
      <div class="map-dog-size map-dog--small">
        <span class="map-dog--label">Small Size</span>
        <span class="map-dog--icon">{%- include 'icons' icon: 'small-dog' -%}</span>
        <div class="map-dog-lines">
          <div class="map-dog-line-range"></div>
        </div>
      </div>
      <div class="map-dog-size map-dog--medium">
        <span class="map-dog--label">Medium Size</span>        
        <span class="map-dog--icon">{%- include 'icons' icon: 'medium-dog' -%}</span>
        <div class="map-dog-lines">
          <div class="map-dog-line-range"></div>
        </div>
      </div>
      <div class="map-dog-size map-dog--large">
        <span class="map-dog--label">Large Size</span>
        <span class="map-dog--icon">{%- include 'icons' icon: 'large-dog' -%}</span>
        <div class="map-dog-lines">
          <div class="map-dog-line-range"></div>
        </div>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Weight of<br>your dog</th>
          <th>Recommended Portion<br>(Based on 2 servings/day)</th>
          <th>Total servings<br>per pack</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>5 lbs</td>
          <td>1/3 cups</td>
          <td>8</td>
        </tr>
        <tr>
          <td>10 lbs</td>
          <td>3/4 cups</td>
          <td>5</td>
        </tr>
        <tr>
          <td>20 lbs</td>
          <td>1.5 cups</td>
          <td>4.5</td>
        </tr>
        <tr>
          <td>30 lbs</td>
          <td>2.25 cups</td>
          <td>1.75</td>
        </tr>
        <tr>
          <td>40 lbs</td>
          <td>3 cups</td>
          <td>1.5</td>
        </tr>
        <tr>
          <td>50 lbs</td>
          <td>3.75 cups</td>
          <td>0.875</td>
        </tr>
        <tr>
          <td>60 lbs</td>
          <td>4.5 cups</td>
          <td>0.75</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="view-map--detail">
    <p>*We recommend 3/4 cup per 10 lbs of body weight based on medium energy dog, serving recommendation guidelines are as follows:</p>
    <p>*For larger dogs you may opt to use our meals a nutritious topper</p>
  </div>
</div>