.module-product {
  &.module-review {
    padding: 0 0 30px;
  }
}
#shopify-product-reviews {
  text-align: left;
  font-size: 16px;
  color: #000;
}

@media (max-width: 1280px) {
  .module-product.module-review {
    padding: 0 20px 30px;
  }
}
@media (max-width: 720px) {
  .module-product.module-product-static {
    .product-wrap {
      padding: 0;
    }
  }
}