//************************************************************************//
// Product Form
//************************************************************************//
.product-form-buttons {
  margin: 10px 0;
  text-align: center;
  button.button {
    line-height: 1;
    padding: 20px 30px;
    border-radius: 30px;
    min-width: 200px;
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px 0 0;
    &:focus, &:hover {
      text-decoration: none;
      outline: 0;
      border: 0;
    }
  }
  .buy-now-button {
    background-color: #D49B94;    
  }
  .trigger-form-button {
    background-color: #FFD700;
  }
}
.product-price {
  margin-bottom: 0;
  .price {
    color: #000;
  }
}
.product-form {
  .select-wrapper, #rc_container {
    max-width: 525px;
  }
  div#rc_container {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .product-form {
    .select-wrapper, #rc_container {
      max-width: none;
    }
  }
}

@media (max-width: 500px) {
  .product-form-buttons {
    margin-top: 20px;
    button.button {
      display: block;
      margin: 10px auto 0;
    }
  }
}